.about,
.contact {
    padding: 20px 0;
}

.about .img {
    min-width: 350px;
    /* max-width: 350px; */
    max-width: 390px;
    /* min-width: 100%; */
}

.about .img img {
    width: 100%;
}

.about .welcomAbout {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 40px 0 0 0;
    justify-content: center;
}

.contact .welcomAbout {
    margin-bottom: 40px;
}

.about .section-subTitle {
    margin-bottom: 20px;
}

.chooseReasons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.chooseReasons>div {
    border: 1px solid rgb(225 231 238);
    padding: 40px;
    transition: var(--transition);
    color: rgb(75 85 99);
    flex: 1 1;
    align-self: stretch;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.chooseReasons>div .section-subTitle {
    margin-left: 0;
    margin-right: 0;
}

.chooseReasons>div:hover {
    background-color: var(--primary);
}

.chooseReasons>div:hover,
.chooseReasons>div:hover>.section-subTitle {
    color: white !important;
}

.chooseReasons .section-subTitle {
    color: rgb(75 85 99);
}

.chooseReasons h3 {
    font-weight: 600;
}

@media (max-width: 700px) {
    .about .welcomAbout {
        flex-direction: column;
        align-items: flex-start;
    }

    .about .img {
        max-width: none;
        min-width: 100%;
    }
   

    .chooseReasons {
        flex-direction: column;
    }

}

/* ------- contact right */
.contact .contactRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(107 114 128);
    font-size: 14px;
    line-height: 20px;
}

.contact .contactRight h4 {
    color: rgb(75 85 99);
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.explore {
    width: fit-content;
    padding: 16px 32px;
    line-height: inherit;
    font-size: inherit;
    color: black;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    transition: var(--transition);
}

.explore:hover {
    color: white;
    background-color: black;
}