.icon{
    width: 25px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    transition: all 2s;
}
.spam {
    width: 100%;
    height: 2px;
    background-color: #000B6D;
  
    transition: all 1s;
    transform-origin: bottom;
}
.firstSpam{
    margin-bottom: 7px;
}
.secondSpam{
    width: 60%;
    height: 1px;
    background-color: #000B6D;
    margin-bottom: 7px;
    /* transition: .3s; */
    transition: all 1s;
}

