:root {
    --img-background: rgb(234 239 255);
    --available-color: rgb(34 197 94);
    --border-1px: 1px solid rgb(201 216 255);
}

.topDoctors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.topDoctors .eachDoctor,
.allDoctors .eachDoctor {
    border: var(--border-1px);
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: var(--transition);
}

.topDoctors .eachDoctor:hover,
.allDoctors .eachDoctor:hover {
    transform: translateY(-10px);
}


.topDoctors .eachDoctor img,
.allDoctors .eachDoctor img {
    width: 100%;
    background-color: var(--img-background);

}

.topDoctors .doctorInfo,
.allDoctors .doctorInfo {
    padding: 1rem;
}

.topDoctors .doctorInfo .section-title,
.allDoctors .doctorInfo .section-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.topDoctors .doctorInfo .section-title,
.topDoctors .doctorInfo .section-subTitle,
.allDoctors .doctorInfo .section-title,
.allDoctors .doctorInfo .section-subTitle {
    text-align: start;
    margin: 0px;
}


.topDoctors .areAvailable,
.allDoctors .areAvailable {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--available-color);
}

.topDoctors .areAvailable .circle,
.allDoctors .areAvailable .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--available-color);
}

.topDoctors button {
    background-color: var(--img-background);
    margin: 30px auto 0px auto;
    color: rgba(75, 85, 99, 1);
    font-weight: 400;
    font-size: 1.2rem;
}


/****** All Docttors Page  ******/
.allDoctors {
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.allDoctorsPage .section-subTitle {
    text-align: start;
    margin: 20px auto;
}

.allDoctorsPage .left,
.allDoctorsPage .left>div {
    display: flex;
    flex-direction: column;
}

.allDoctorsPage .filter,
.allDoctorsPage .left a {
    border: 1px solid rgb(209 213 219);
    border-radius: 4px;
    padding: 6px 12px;
    margin-bottom: 10px;
    width: 200px;
    cursor: pointer;
}

.allDoctorsPage .left a:hover {
    background-color: rgb(226 229 255);
}

@media (max-width:490px) {
    .allDoctors {
        flex-direction: column;
    }

    .allDoctorsPage .left a {
        width: 100%;
    }
}

.allDoctorsPage .right {
    width: 100%;
}

.allDoctorsPage .filter {
    font-weight: 600;
    letter-spacing: 2px;
    display: none;
    width: fit-content;
    margin: 0 0 10px 0;
}

@media (max-width:490px) {
    .allDoctors {
        flex-direction: column;
    }

    .allDoctorsPage .left>div {
        width: 100%;
        display: none;
    }

    .allDoctorsPage .filter {
        display: block;
        width: fit-content;
    }
}