@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden !important;
}

:root {
    --primary: #5F6FFF;
    --dark-bg: #121212;
    --dark-window: #202020;
    --dark-title: #E6E6E6;
    --dark-section-title: #D5D5D5;
    --dark-sub-title: #7C7C7C;
    --logo: #000B6D;
    --transition: all .3s;
    --sub-title: rgba(75, 85, 99, 1);
    --text-zinc-600: rgb(82 82 91);

}

/*  Start Global Rules*/
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
    min-width: 365px;
    /* height: 100vh; */
    overflow: hidden;
    max-width: 1200px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/*  SCREEN */
@media (max-width:990px) {
    .container {
        width: 100%;
        max-width: 95%;
    }
}

@media (max-width:490px) {
    .container {
        width: 100%;
        max-width: none;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* @media (min-width:1200px) {
    .container {
        width: 1200px;
    }
} */

button:not(.explore, .myAppointment button) {
    border: none;
    outline: none;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: var(--sub-title);

}

button:not(.explore, .myAppointment button):hover {
    transform: scale(1.04);
}

@media (max-width:490px) {
    button:not(.booking .saveAppo, .explore, .profile .btns>button, .myAppointment button, .home button) {
        padding: 10px 10px;
        font-size: 12px;
    }
}

.section-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 50.4px;
    color: rgba(31, 41, 55, 1);
    text-align: center;
}

.section-subTitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: var(--sub-title);
    /* text-align: center; */
    margin: 20px auto 50px auto;

}

.p-top-bottom-100 {
    padding: 50px 0;
}

.p-child-rigt-left-20-w100 {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.grid-5 {
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

/* 
@media screen and (max-width:1300px) {
    .grid-5 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:1100px) {
    .grid-5 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    .grid-5 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:480px) {
    .grid-5 {
        grid-template-columns: repeat(1, 1fr);
    }
} */

.logo {
    width: 100%;
    max-width: 200px;
    min-width: 120px;
}


.logo img {
    width: 100%;
}


.page-title {
    font-size: 24px;
    line-height: 36px;
    color: rgb(112 112 112);
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
}

.page-title>span {
    color: rgb(55 65 81);
    font-weight: 600;
}

hr {
    background-color: rgb(161 161 170);
    height: 1px;
    border: none;
}


/*  --primary: #5F6FFF; */
.primary-bg {
    background-color: var(--primary) !important;
}

.dark-bg {
    background-color: var(--dark-bg) !important;
}

.dark-window {
    background-color: var(--dark-window) !important;
}

.dark-title {
    color: var(--dark-title) !important;
}

.dark-section-title {
    color: var(--dark-section-title) !important;
}

.dark-sub-title {
    color: var(--dark-sub-title) !important;
}

.light-title {
    color: var(--dark-bg) !important;
}

.light-sub-title {
    color: var(--dark-window) !important;
}